extends layout

block content
  h1.text-center.text-primary Book Your Car Wash Appointment
  if success_msg
    .alert.alert-success= success_msg
  if error_msg
    .alert.alert-danger= error_msg
  form(action='/appointments' method='POST' class='mt-4')
    .form-group
      label(for='name') Name
      input.form-control(type='text' id='name' name='name' placeholder='Enter your name' required)
    .form-group
      label(for='email') Email
      input.form-control(type='email' id='email' name='email' placeholder='Enter your email' required)
    .form-group
      label(for='date') Appointment Date
      input.form-control(type='date' id='date' name='date' required)
    .form-group
      label(for='message') Additional Information
      textarea.form-control(id='message' name='message' rows='4' placeholder='Any special requests or information')
    button.btn.btn-primary(type='submit') Book Appointment
//- extends layout

//- block content
//-   // Add the navbar from the previous examples
//-   nav.navbar.navbar-expand-lg.navbar-light.bg-light
//-     a.navbar-brand(href='/') JAJ Car Wash
//-     .collapse.navbar-collapse#navbarNav
//-       ul.navbar-nav.ml-auto
//-         li.nav-item
//-           a.nav-link(href='/about') About
//-         li.nav-item
//-           a.nav-link(href='/prices') Prices
//-         li.nav-item
//-           a.nav-link(href='/reviews') Reviews
//-         li.nav-item
//-           a.nav-link(href='/contact').mr-3 Contact
//-         li.nav-item
//-           a.nav-link(href='/appointments').mr-3 Appointments
//-         if !user
//-           li.nav-item
//-             a.nav-link(href='/users/login') Login
//-           li.nav-item
//-             a.nav-link(href='/users/register') Register
//-         else
//-           li.nav-item
//-             a.nav-link(href='/users/logout') Logout

//-   h1.text-center.text-primary Book Your Car Wash Appointment

//-   // Display success message if any
//-   if success_msg
//-     .alert.alert-success= success_msg

//-   // Display error message if any
//-   if error_msg
//-     .alert.alert-danger= error_msg

//-   // Form to submit appointment details
//-   form(action='/appointments' method='POST' class='mt-4')
//-     .form-group
//-       label(for='name') Name
//-       input.form-control(type='text' id='name' name='name' placeholder='Enter your name' required)
    
//-     .form-group
//-       label(for='email') Email
//-       input.form-control(type='email' id='email' name='email' placeholder='Enter your email' required)
    
//-     .form-group
//-       label(for='date') Appointment Date
//-       input.form-control(type='date' id='date' name='date' required)
    
//-     .form-group
//-       label(for='message') Additional Information
//-       textarea.form-control(id='message' name='message' rows='4' placeholder='Any special requests or information')
    
//-     button.btn.btn-primary(type='submit') Book Appointment
