doctype html
html
  head
    title Car Wash
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/') JAJ Car Wash
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/about') About
          li.nav-item
            a.nav-link(href='/prices') Prices
          li.nav-item
            a.nav-link(href='/reviews') Reviews
          li.nav-item
            a.nav-link(href='/appointments').mr-3 Book Appointment
          if !user
            li.nav-item
              a.nav-link(href='/users/login') Login
            li.nav-item
              a.nav-link(href='/users/register') Register
          else
            li.nav-item
              a.nav-link(href='/users/logout') Logout
    .container
      block content


//https://icons.getbootstrap.com
