doctype html
html
  head
    title JAJ Car Wash
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/') JAJ Car Wash
      if user
        if user.type === 'admin'
          a.navbar-brand.ml-5 Welcome, Admin #{user.username}!
        else
          a.navbar-brand.ml-5 Welcome, #{user.username}!
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/about').mr-3 About
          li.nav-item
            a.nav-link(href='/prices').mr-3 Prices
          li.nav-item
            a.nav-link(href='/reviews').mr-3 Reviews
          li.nav-item
            a.nav-link(href='/appointments').mr-3 Book Appointment
          if !user
            li.nav-item
              a.nav-link(href='/users/login').mr-3 Login
            li.nav-item
              a.nav-link(href='/users/register').mr-3 Register
          else
            li.nav-item
              a.nav-link(href='/users/profile') Profile
              a.nav-link(href="bi bi-file-person-fill") 
            li.nav-item
              a.nav-link(href='/users/logout') Logout
    .container
      if success_msg
        .alert.alert-success= success_msg
      if error_msg
        .alert.alert-danger= error_msg
      block content


//https://icons.getbootstrap.com
