extends layout

block content
  h1 Login

  // Alert Section
  if alerts
    each alert in alerts
      .alert(class=alert.type, style='padding: 10px; margin-bottom: 10px;')
        p= alert.message

  form(action='/users/login' method='POST')
    .form-group 
      label(for='email') Email 
      input.form-control(type='email' id='email' name='email' required)
    .form-group  
      label(for='password') Password 
      input.form-control(type='password' id='password' name='password' required)
    button.btn.btn-primary(type='submit') Login