extends layout

block content
  h1 Register

  if success_msg
    .alert.alert-success= success_msg
  if error_msg
    .alert.alert-danger= error_msg
  if error
    .alert.alert-danger= error

  form(action='/users/register' method='POST')
    .form-group
      label(for='username') Username
      input.form-control(type='text' id='username' name='username' required)
    .form-group
      label(for='email') Email
      input.form-control(type='email' id='email' name='email' required)
    .form-group
      label(for='password') Password
      input.form-control(type='password' id='password' name='password' required)
    .form-group
      label(for='confirmPassword') Confirm Password
      input.form-control(type='password' id='confirmPassword' name='confirmPassword' required)
    button.btn.btn-primary(type='submit') Register

  p(style='text-align: center; margin-top: 20px;') 
    | Have an account already? 
    a(href='/users/login') Please log in here.
